{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="container p-5">
        <div class="container-fluid">

            <div class="row">
                <div class="col col-sm-12 d-flex justify-content-center">
                    <h1>{{ participant.pseudo }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    {% if participant.image != null %}
                        <img src="{{ asset('img/' ~ participant.image) }}" class="rounded mx-auto d-block"
                             alt="profile picture" height="300" width="300">
                    {% else %}
                        <img src="{{ asset('img/user.png') }}" class="rounded mx-auto d-block"
                             alt="profile picture" height="300" width="300">
                    {% endif %}
                </div>
                <br>
                <div class="col-12 col-sm-12 col-md-6">
                    <div>
                        <p>Prénom : {{ participant.prenom | capitalize }}</p>
                        <p>Nom : {{ participant.nom | capitalize }}</p>
                        <p>Téléphone : {{ participant.telephone }}</p>
                        <p>Email : {{ participant.email }}</p>
                        <p>Campus : {{ participant.campus.nom }}</p>
                    </div>
                    <a href="{{ path('app_main_index') }}" class="btn btn-primary" role="button">
                        Retour
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
