{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    {% if app.session.flashBag.has('creationSortie') %}
        <div class="alert alert-fail">
            {% for msg in app.session.flashBag.get('creationSortie') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <div>
    <h2 class="text-center">Creation sortie</h2>
    </div>

    <div class="container">
        <div class="container-fluid">

            <div class="row">

                <div class="col-12 col-sm-12 col-md-6">

                    {{ form_start(creationsortie) }}

                    <p>Nom de la sortie : {{ form_widget(creationsortie.nom) }}</p>
                    <p>Date et heure de la sortie : {{ form_widget(creationsortie.dateHeureDebut) }}</p>
                    <p>Date limite d'inscription : {{ form_widget(creationsortie.dateLimiteInscription) }}</p>
                    <p>Nombre de places : {{ form_widget(creationsortie.nbInscriptionsMax) }}</p>
                    <p>Durée : {{ form_widget(creationsortie.duree) }}</p>
                    <p>Description et infos : {{ form_widget(creationsortie.infosSortie) }}</p>

                </div>

                <div class="col-12 col-sm-12 col-md-6">
                    <p>Campus : {{ campus.nom }}</p>

                    <p>Ville :</p>

                    <p>Lieux : {{ form_widget(creationsortie.lieu, {'attr': {'choice_label': 'nom'}}) }}</p>

                    <p>Rue :</p>
                    <p>Code postal</p>
                    <p>Latitude</p>
                    <p>Longitude</p>
                    <p hidden="hidden">Etat : {{ form_widget(creationsortie.etat) }}</p>

                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    {{ form_end(creationsortie) }}
                    <button class="btn btn-primary"> Publier la sortie</button>
                    <a href="{{ path('app_main_index') }}"><button  class="btn btn-primary">Annuler</button></a>
                </div>


            </div>
        </div>
    </div>


{% endblock %}