<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Sortir.com{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.css') }}">
    <script src="{{ asset('js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>


</head>
<body>
<div class="container">
    <header>
        <div class="navbar navbar-light bg-light">

        <h1><img src="{{ asset('#') }}" alt="Logo Sortir.com"></h1>

       {{ include('inc/nav.html.twig') }}
        </div>
    </header>
    <div class="position-absolute" style="right: 100px">
        {% if app.user %}
            <p>Date du jour : {{ "now"|date('d/m/y') }} - {{ app.user.prenom }} {{ app.user.nom }}</p>
        {% endif %}
    </div>

    <main class="container p-6">
        {% block body %}{% endblock %}
    </main>

    <footer class="bg-light text-center text-lg-start">
        <p>Sortir.com - Ahmed - Nicolas - Sylvain -</p>
    </footer>
</div>
</body>


</html>
