<nav>
    <div class="container-fluid">
        <div class="btn-group">
            <ul class="m-md-4">

                {% if is_granted("ROLE_ADMIN") %}
                    <div class="d-inline dropdown ">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="m-md-4" href="{{ path('app_main_index') }}" title="Villes">Villes</a>
                            <a class="m-md-4" href="{{ path('app_main_index') }}" title="Campus">Campus</a>
                            <a class="m-md-4" href="{{ path('app_register') }}" title="Participant">Participant</a>
                        </div>
                    </div>
                {% endif %}
                <div class="d-inline">
                    {% if app.user %}
                        <a class="m-md-4" href="{{ path('app_main_index') }}" title="Accueil">Accueil</a>
                        <a class="m-md-4" href="{{ path('app_profil') }}" title="Mon Profil">Mon Profil</a>
                        <a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>

</nav>